In [3]:
import pandas as pd
from numpy import arange
from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeCV
from sklearn.model_selection import RepeatedKFold
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.datasets import load_boston

ModuleNotFoundError: No module named 'pandas'

In [2]:
data=pd.read_csv("Telangana_yield.csv")

NameError: name 'pd' is not defined

In [3]:
data

,State,District,Crop,Crop_Year,Season,Area,Production,Yield
0,Telangana,JAGITIAL,Banana,2017,Kharif,86,5540.0,64.42
1,Telangana,JAGITIAL,Banana,2018,Kharif,26,1601.0,61.58
2,Telangana,JAGITIAL,Banana,2019,Kharif,36,2128.0,59.11
3,Telangana,JANGOAN,Banana,2018,Kharif,2,123.0,61.50
4,Telangana,JAYASHANKAR,Banana,2016,Kharif,94,4349.0,46.27
...,...,...,...,...,...,...,...,...
4336,Telangana,VIKARABAD,Wheat,2016,Rabi,147,184.0,1.25
4337,Telangana,VIKARABAD,Wheat,2017,Rabi,96,133.0,1.39
4338,Telangana,VIKARABAD,Wheat,2018,Rabi,92,173.0,1.88
4339,Telangana,VIKARABAD,Wheat,2019,Rabi,46,85.0,1.85
4340,Telangana,YADADRI,Wheat,2016,Rabi,1,1.0,1.00

In [4]:
data=data.fillna(0)

In [5]:
data=pd.get_dummies(data)

In [6]:
x=data.iloc[:,1:7].values
y=data.iloc[:,6:7].values

In [7]:
x

array([[8.600e+01, 5.540e+03, 6.442e+01, 1.000e+00, 0.000e+00, 0.000e+00],
       [2.600e+01, 1.601e+03, 6.158e+01, 1.000e+00, 0.000e+00, 0.000e+00],
       [3.600e+01, 2.128e+03, 5.911e+01, 1.000e+00, 0.000e+00, 0.000e+00],
       ...,
       [9.200e+01, 1.730e+02, 1.880e+00, 1.000e+00, 0.000e+00, 0.000e+00],
       [4.600e+01, 8.500e+01, 1.850e+00, 1.000e+00, 0.000e+00, 0.000e+00],
       [1.000e+00, 1.000e+00, 1.000e+00, 1.000e+00, 0.000e+00, 0.000e+00]])

In [8]:
y

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]], dtype=uint8)

In [9]:
from sklearn .model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=1/4, 
random_state=0)

In [19]:
alpha = 0.1  
ridge = Ridge(alpha=alpha)

In [21]:
ridge.fit(x_train, y_train)

Ridge(alpha=0.1)

In [23]:
y_pred = ridge.predict(x_test)

In [24]:
mse = mean_squared_error(y_test, y_pred)

In [27]:
mse

4.133497821501154e-08

In [28]:
print(f"Ridge Regression with alpha={alpha}")
print(f"Coefficients: {ridge.coef_}")
print(f"Intercept: {ridge.intercept_}")
print(f"Mean Squared Error: {mse}")
#0.00000004133497821501154.

Ridge Regression with alpha=0.1
Coefficients: [[-1.52447588e-10 -1.26338818e-12 -1.62302324e-09  0.00000000e+00
  -3.29197095e-05  9.98668964e-01]]
Intercept: [3.48213029e-05]
Mean Squared Error: 4.133497821501154e-08