In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
data=pd.read_csv("Telangana_yield.csv")

In [3]:
data

,State,District,Crop,Crop_Year,Season,Area,Production,Yield
0,Telangana,JAGITIAL,Banana,2017,Kharif,86,5540.0,64.42
1,Telangana,JAGITIAL,Banana,2018,Kharif,26,1601.0,61.58
2,Telangana,JAGITIAL,Banana,2019,Kharif,36,2128.0,59.11
3,Telangana,JANGOAN,Banana,2018,Kharif,2,123.0,61.50
4,Telangana,JAYASHANKAR,Banana,2016,Kharif,94,4349.0,46.27
...,...,...,...,...,...,...,...,...
4336,Telangana,VIKARABAD,Wheat,2016,Rabi,147,184.0,1.25
4337,Telangana,VIKARABAD,Wheat,2017,Rabi,96,133.0,1.39
4338,Telangana,VIKARABAD,Wheat,2018,Rabi,92,173.0,1.88
4339,Telangana,VIKARABAD,Wheat,2019,Rabi,46,85.0,1.85
4340,Telangana,YADADRI,Wheat,2016,Rabi,1,1.0,1.00

In [14]:
data.shape

(4341, 78)

In [4]:
data=data.fillna(1)

In [5]:
data=pd.get_dummies(data)

In [6]:
x=data.iloc[:,:-1].values
y=data.iloc[:,-1].values

In [7]:
from sklearn .model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y,
                                                    test_size=0.2,
                                                    random_state=42)

In [9]:
alpha = 1.0  # Regularization strength
lasso = Lasso(alpha=alpha)

# Fit the model to the training data
lasso.fit(x_train, y_train)

Lasso()

In [10]:
y_pred = lasso.predict(x_test)

In [11]:
mse = mean_squared_error(y_test, y_pred)

In [12]:
print(f"Lasso Regression with alpha={alpha}")
print(f"Mean Squared Error: {mse}")

Lasso Regression with alpha=1.0
Mean Squared Error: 0.0091908137817584