In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.svm import SVR

In [5]:
data=pd.read_csv("Telangana_yield.csv")

In [6]:
data

,State,District,Crop,Crop_Year,Season,Area,Production,Yield
0,Telangana,JAGITIAL,Banana,2017,Kharif,86,5540.0,64.42
1,Telangana,JAGITIAL,Banana,2018,Kharif,26,1601.0,61.58
2,Telangana,JAGITIAL,Banana,2019,Kharif,36,2128.0,59.11
3,Telangana,JANGOAN,Banana,2018,Kharif,2,123.0,61.50
4,Telangana,JAYASHANKAR,Banana,2016,Kharif,94,4349.0,46.27
...,...,...,...,...,...,...,...,...
4336,Telangana,VIKARABAD,Wheat,2016,Rabi,147,184.0,1.25
4337,Telangana,VIKARABAD,Wheat,2017,Rabi,96,133.0,1.39
4338,Telangana,VIKARABAD,Wheat,2018,Rabi,92,173.0,1.88
4339,Telangana,VIKARABAD,Wheat,2019,Rabi,46,85.0,1.85
4340,Telangana,YADADRI,Wheat,2016,Rabi,1,1.0,1.00

In [10]:
data=data.fillna(0)

In [11]:
data=pd.get_dummies(data)

In [13]:
x=data.iloc[:,:-1].values
y=data.iloc[:,-1].values

In [14]:
from sklearn .model_selection import train_test_split
x_train, x_test, y_train, y_test= train_test_split(x,y,test_size=1/4, 
random_state=0)

In [15]:
model = SVR(kernel='rbf', C=1e3, gamma=0.1)

In [16]:
model.fit(x_train, y_train)

SVR(C=1000.0, gamma=0.1)

In [17]:
y_pred = model.predict(x_test)

In [23]:
from sklearn.metrics import mean_squared_error


mse = mean_squared_error(y_test, y_pred)

# Printing the MSE
print("Mean squared error: %.15f" % mse)

Mean squared error: 0.014820905632024

In [27]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)

# Printing the R-squared
print("R-squared: %.10f" % r2)

R-squared: -2.2339901607